@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  overflow: hidden;
  direction: rtl;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-container img{
  width: unset !important;
  height: 100% !important;
}